* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f8f8f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  outline: none;
  resize: none;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.header__container {
  width: 80vw;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.app-header__controls {
  margin-top: 1rem;
}

.app-header__title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.85;
  color: #222b5f;
}

.logo {
  font-size: 2.625rem;
  font-family: "Fredoka One";
}

.search,
.add-new {
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.search {
  flex-grow: 1;
  font-family: inherit;
  max-width: 550px;
  margin-bottom: 1rem;
  width: 100%;
  border: 2px hidden #e20a4a;
  background-color: #E6E6E6;
}

.add-new {
  align-self: flex-start;
  text-transform: uppercase;
  font-family: inherit;
  border-radius: 2rem;
  cursor: pointer;
  font-weight: bold;
  color: #f8f8f8;
  background-color: #222b5f;
  border: none;
}

.notes__list--wrapper {
  justify-content: center;
  margin-top: 2rem;
}

.notes__list {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.note {
  font-family: inherit;
  width: 250px;
  height: 250px;
  margin: 0.75rem;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__description {
  color: #222b5f;
  font-family: inherit;
  width: 100%;
  padding: 1.125rem;
  background: transparent;
  border: #e6e6e6;
}

.note__title {
  font-size: 1.125rem;
  font-weight: bold;
  background-color: #f8ff75;
}

.note__description {
  flex-grow: 1;
  font-size: 1rem;
}

.note__delete {
  font-family: "Fredoka One", sans-serif;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  color: #e20a4a;
  padding: 1rem;
}

.note__delete:hover {
  color: black;
  cursor: pointer;
}

@media (min-width: 30em) {
  .grid-two {
    grid-template-columns: repeat(2, 1fr);
  }
  .app-header__controls {
    display: grid;
    justify-items: end;
    align-items: end;
  }
  .notes__list--wrapper {
    justify-content: center;
  }
  .notes__list {
    justify-content: flex-start;
  }
}

/*==================================================
 * Shadow Effect by Halil İbrahim Nuroğlu
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/*==================================================
 * End of Effect 2
 * ===============================================*/
